<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Tizimdagi hamma kitoblar ro'yhati </h1>
    <br>
    <hr>
    <br>
    <form method="get">
        <input type="text" placeholder="Ism yoki kitob nomini kiriting" name="qidirish_sozi">
        <button>Qidirish</button>
    </form>
    <br>
    {% for kitob in kitoblar %}
    <br>
    <h1>{{kitob.id}}. {{kitob.nom}}  ({{kitob.muallif.ism}})</h1>
    <a href="/kitob_update/{{kitob.id}}/">
        <button>Update</button>
    </a>
    <a href="/kitob_ochir/{{kitob.id}}/">
        <button>Delete</button>
    </a>
    {% endfor %}

    <br>
    <hr>
    <br>

    <h1>Yangi kitob qoshish</h1>
    <form method="post">{% csrf_token %}
        <label>Nomi:</label>
        <input type="text" placeholder="Nomini yozing" name="nom">
        <br>
        <br>
        <label>janr:</label>
        <select name="janr" >
            <option value="Badiiy">Badiiy</option>
            <option value="Ilmiy">Ilmiy</option>
            <option value="Jangari">Jangari</option>
        </select>
        <br>
        <br>
        <label>Sahifa:</label>
        <input type="number" placeholder="sahifasini yozing" name="sahifa">
        <br>
        <br>
        <label>Muallif:</label>
        <select name="muallif" >
            {% for muallif in mualliflar %}
            <option value="{{muallif.id}}">{{muallif.ism}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label>Qo'shish:</label>
        <button>Qo'shish</button>
    </form>

</body>
</html>