<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Update kitob({{kitob.nom}}) </h1>
    <br>
    <br>
    <form method="post">{% csrf_token %}
        <label>Nomi:</label>
        <input type="text" value="{{kitob.nom}}" name="nom" disabled>
        <br>
        <br>
        <label>janr:</label>
        <select name="janr" >
            <option value="{{kitob.janr}}">{{kitob.janr}}</option>
            {% for janr in janrlar %}
                {% if janr != kitob.janr %}
            <option value="{{janr}}">{{janr}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <br>
        <label>Sahifa:</label>
        <input type="number" value="{{kitob.sahifa}}" name="sahifa">
        <br>
        <br>
        <label>Muallif:</label>
        <select name="muallif" >
            <option value="{{kitob.muallif.id}}">{{kitob.muallif.ism}}</option>
            {% for muallif in mualliflar %}
                {% if muallif.id != kitob.muallif.id %}
            <option value="{{muallif.id}}">{{muallif.ism}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <br>
        <label>Saqlash :</label>
        <button>Saqlash</button>
    </form>
</body>
</html>