<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <br>
    <h1>Kutubxona boshqaruv tizimiga xush kelibsiz</h1>
    <br>
    <hr>
    <br>
    <a href="/kitoblar/"><h1>Kitoblar</h1></a>
    <a href="/ayol_muallif/"><h1>Ayol_muallif</h1></a>


    <a href="/hamma_mualliflar/"><h1>hamma_mualliflar</h1></a>
    <a href="/hamma_kitoblar/"><h1>hamma_kitoblar</h1></a>
    <a href="/hamma_recordlar/"><h1>hamma_recordlar</h1></a>
    <a href="/hamma_talabalar/"><h1>hamma_talabalar</h1></a>

</body>
</html>